<ion-header>
  <ion-toolbar>
    <ion-title>Sports</ion-title>
    <ion-buttons slot='end'>
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <agm-map *ngIf="currentCenter" class="map" [zoom]="defaultZoom" [latitude]="currentCenter.lat" [longitude]="currentCenter.lng">
    <agm-marker iconUrl="assets/img/bicycle.png" [latitude]="currentCenter.lat" [longitude]="currentCenter.lng"></agm-marker>
    <agm-polyline [strokeColor]="'red'" *ngIf="coordinates">
      <agm-polyline-point
        *ngFor="let coords of coordinates"
        [latitude]="coords.lat"
        [longitude]="coords.lng"
      >
      </agm-polyline-point>
    </agm-polyline>
  </agm-map> 
  <ion-item>
    <ion-input placeholder="Search..." [(ngModel)]="search"></ion-input><ion-icon name="search-sharp" (click)="searchSong(search)"></ion-icon>
  </ion-item>
  <ion-list *ngIf="songs">
    <ion-item *ngFor="let song of songs">
      <ion-grid>
        <ion-row>
          <ion-col size="11"><ion-label>{{song.name}}</ion-label></ion-col><ion-col *ngIf="!song.playing" size="1"><ion-icon name="play" (click)="play(song)"></ion-icon></ion-col><ion-col *ngIf="song.playing" size="1"><ion-icon name="pause" (click)="pause()"></ion-icon></ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>
</ion-content>
