ion-avatar{
    height: 120px;
    width: 90%;
    &.squared-avatar{
        --border-radius: 0;
    }
    img{
        width: 90px;
        height: 90px;
    }
    span{
        font-size: 12px;
    }
}